/* Color Theme Swatches in Hex */
$darkBlue: #3c5473;
$darkBlue-2: #364559;
$orange: #f25116;
$darkOrange: #bf4b21;
$sunOrange: #8c4130;

/* Color Theme Swatches in Hex */
$navyBlue: #141c26;
$goldYellow: #d99923;
$darkGoldYellow: #8c651c;
$darkHardal: #d98825;
$sandColor: #8c683b;
