@import "./variables";

.navbar {
  background-color: $darkBlue-2;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: 1.6rem;
        margin: 1rem;
        padding: 1rem;
        color: $orange;
        &:hover {
          background-color: $orange;
          color: $darkBlue-2;
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 600;
        }
      }
    }
  }
}
